.tableheader {
  background: linear-gradient(to top, #eee, #fff);
  font-weight: bold;
}

.headerBtn {
  background-color: transparent;
  border: none;
  padding: none;
  width: 100%;
  text-align: left;
}
.headerBtn:global(.asc)::after {
  content: '▲';
  position: absolute;
}
.headerBtn:global(.desc)::after {
  content: '▼';
  position: absolute;
}
