.App {
    margin: 0 auto;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.center {

    text-align: center;
}

.container {
    margin-left: 30px;
}

.container-fluid {
  background: #fff;
}

.grid-buttons {
  margin-bottom: 15px;
}

.list-grid {
  width: 90%;
  height: 500px;
}

.logo {
  margin: 15px 15px 0 0;
}

.nav-buttons {
  margin-bottom: 15px !important;
}

.navbar-nav>li>a {
  color: #337ab7 !important;
}
