.center {
    margin: 0 auto;
    width: 600px;
    text-align: center;
}

.container {
    margin-left: 30px;
}

.container-fluid {
  background: #fff;
}

.grid-buttons {
  margin-bottom: 15px;
}

.list-grid {
  width: 90%;
  height: 500px;
}

.logo {
  margin: 15px 15px 0 0;
}

.nav-buttons {
  margin-bottom: 15px !important;
}

.navbar-nav>li>a {
  color: #337ab7 !important;
}

.center {
    margin: 0 auto;
    width: 600px;
    text-align: center;
}

.container {
    margin-left: 30px;
}

.container-fluid {
  background: #fff;
}

.grid-buttons {
  margin-bottom: 15px;
}

.list-grid {
  width: 90%;
  height: 500px;
}

.logo {
  margin: 15px 15px 0 0;
}

.nav-buttons {
  margin-bottom: 15px !important;
}

.navbar-nav>li>a {
  color: #337ab7 !important;
}

.loading-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8); 
}

