.breadcrumbsList {
  margin: 0 10px;
  list-style: none;
  padding: 0;
}

.breadcrumbItem {
  display: inline-block;
  margin: 0 4px;
  color: #777;
}
.breadcrumbItem:not(:first-of-type)::before {
  content: "/";
  margin-right: 8px;
  color: #ccc;
}
