.navbar {
  background-color: initial;
}

.logo {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right:10px;
    display: flex;
    align-items: center; 
    height: 50px;
}

.logo img {
  height: 20px;
  margin-right: 10px;
}

.btnOutline {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 12px;
}

.padAdjust a {
  padding: 11px 15px !important;
}

