.loginContainer {
  max-width: 500px;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 20px;
  margin: 40px auto;
}

.loadingOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 100;
}

.loaderStyles {
  z-index: 200;
  position: absolute;
  top: 50%;
  right: 50%;
}

.loginError {
  color: red;
  margin-bottom: 25px;
}

